@model CEMVC.FrontEnd.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.PageName = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.responsive.cshtml";
}
@section extraJS {
<script>var onCaptchaLoaded = function () { };</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
<div class="panel panel-default ce-sign-in">
    <div class="panel-heading"><h2 class="_heading">Get Restore Code</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm("ForgotPassword", "Auth", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "formForgotPassword", @class = "k-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="k-form-field">
                @Html.LabelFor(m => m.UserEmail, new { @class = "k-label" })
                @Html.TextBoxFor(m => m.UserEmail, new { @class = "k-textbox k-input", required = true, autocomplete = "username", @onchange = "this.value = this.value.trim();" })
                @Html.ValidationMessageFor(m => m.UserEmail)
            </div>
            if (ViewBag.ReCaptchaValidationRequired == true)
            {
                <div id="g-captcha-widget" class="g-recaptcha k-form-field" data-sitekey="@System.Web.Configuration.WebConfigurationManager.AppSettings["reCaptchaPublicKey"]"></div>
            }
            <button class="btn btn-lg btn-block _signin" type="submit" id="btnSendCode"><span class="fas fa-envelope ce-icon _icn _left"></span> Receive a Code &nbsp;</button>
        }
    </div>
</div>