@model CEMVC.FrontEnd.Web.Models.RecoveryPasswordModel
@{
    ViewBag.Title = "Password recovery";
    ViewBag.PageName = "PasswordRecovery";
    Layout = "~/Views/Shared/_Layout.responsive.cshtml";
}
@section extraJS {
    <script>
        var onCaptchaLoaded = function () { };
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
<div class="row row-no-gutters">
    <div class="col-6 col-md-6">
        <div class="panel panel-default ce-sign-in">
            <div class="panel-heading">
                <h2 class="_heading">Change Password</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("RecoveryPassword", "Auth", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "formRecoveryPassword", autocomplete = "off", @class = "k-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.Hidden("email")@* Trick browser to prevent autocompleting the following fields *@
                    <p class="k-messagebox k-messagebox-info">Secure code was sent to your email</p>
                    <div class="k-form-field">
                        @Html.LabelFor(m => m.SecureCode, new { @class = "k-label" })
                        @Html.TextBoxFor(m => m.SecureCode, new { @class = "k-textbox k-input", autocomplete = "one-time-code", aria_autocomplete = "none", required = true })
                        @Html.ValidationMessageFor(m => m.SecureCode)
                    </div>
                    <div class="k-form-field">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "k-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "k-textbox k-input", autocomplete = "new-password", aria_autocomplete = "none", required = true })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="k-form-field">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "k-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox k-input", autocomplete = "new-password", aria_autocomplete = "none", required = true })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    if (ViewBag.ReCaptchaValidationRequired == true)
                    {
                        <div id="g-captcha-widget" class="g-recaptcha k-form-field" data-sitekey="@System.Web.Configuration.WebConfigurationManager.AppSettings["reCaptchaPublicKey"]"></div>
                    }
                    <button class="btn btn-lg btn-block _signin" type="submit" id="btnChangePassword"><span class="k-icon k-i-check-outline _icn-md _left"></span>Change Password &nbsp;</button>
                }
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6">
        <div class="panel-body panel-body ce-sign-up-preamble">
            <h3 class="text-info _heading">Not a Member?</h3>
            <p>
                Subscribe today for just $59/month, no minimum contract required! We offer a 30-day evaluation period, so if you cancel within the first month we will issue you a full refund, no questions asked.
            </p>
            <p>
                With your subscription you will receive access to the software packed with 10,000+ parts in the RemodelMAX database, free quarterly regional price updates, and free technical support.
            </p>
            <div class="form-group">
                <a class="btn btn-lg _signup btn-block center-block" href="http://www.clearestimates.com/subscribe-now/"><span class="fas fa-user-plus ce-icon _icn _left"></span> Sign Up &nbsp;</a>
            </div>
            <p class="text-info lead">Signing in for the first time? @Html.ActionLink("Click here to register", "Register", "Auth", new { @class = "ce-text-caution" })</p>
        </div>
    </div>
</div>
